{% assign education = data.education %}
{% if education and education.display %}
<section class="educations">
    <div class="section-title">
        {{ education.title }}
    </div>

    <div class="section-content">
        {% for graduation in education.items %}
        <div class="item">
            <div class="major">{{ graduation.degree }} {{ graduation.major }}</div>
            <!-- <div class="university">{{ graduation.university }}</div> -->

        <div class="upper-row">
            <div class="university">{{ graduation.university }}</div>
            <div class="time">{{ graduation.time }}</div>
        </div>

            {% if graduation.details %}
        <div class="details">
            <div class="markdown">
                {{ graduation.details | markdownify }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}
